/*
 mobile ( < 768px ) ----------------------
 *fixture* : sm
 -number of columns------------------------4
 -gutter-----------------------------20
 -margin------------------------------5
 -container------------------------100% - ( 5px * 2 )
*/

/*
 TABLET ( > 768px ) ----------------------
 *fixture* : md
 -number of columns------------------------12
 -gutter-----------------------------20
 -margin------------------------------30
 -container------------------------100% - ( 30px * 2 )
 -Max-container-size----------------960px
*/

/*
 DESKTOP ( > 1140px ) ----------------------
 *fixture* : lg
 -number of columns------------------------12
 -unit-----------------------------------75px
 -gutter-----------------------------20px
 -margin------------------------------auto
 -container------------------------1140px
 -max-container-size----------------1140px
*/

$gutter: 20px;

$sm-columns: 4;
$sm-margin: 5px;

$md-columns: 12;
$md-margin: 30px;
$md-max-container: 960px + $md-margin * 2;

$lg-columns: 12;
$lg-unit: 75px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns;

@debug ($lg-unit + $gutter) * $lg-columns;

.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  //CSS에서 지원하는 '속성 선택자 공부하기
  [class^="col-"] {
    padding: 0 $gutter / 2;
  }

  //sass식 반복문
  @for $i from 1 through $sm-columns {
    .col-sm-#{$i} {
      width: percentage($i / $sm-columns);
      //sass 내장함수도 공부 좀 하자
    }
  }

  @include responsive("T") {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        width: percentage($i / $md-columns);
        //sass 내장함수도 공부 좀 하자
      }
    }
  }

  @include responsive("D") {
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
